numpy
pandas
scipy
matplotlib
seaborn
arviz
pymc>=5
pytensor
numba
xarray
h5py
tqdm
requests
pyarrow
fastparquet
astropy
statsmodels
scikit-learn
gwpy
pesummary>=0.13.6
gwosc>=0.5.4
corner
kuiper
tqdm-loggable
